body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
  }
  
  .logo img {
    width: 200px;
    margin-top: 20px;
    
  }
  
  .soundboard {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
  }
  
  .soundboard button {
    background-color: #f0f03f0;
    border: 2px solid #ff4a4a;
    color: #ff4a4a;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s, background-image 0.2s;
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .soundboard button:hover {
    transform: scale(1.1);
    background-image: url('./images/head.gif');
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }